# Working with StatPoints

Capitalizing on the tree structure of the database can allow you to work more efficiently with large volumes of time series data. This tutorial describes the structure of the database and how it can be used to develop efficient code.

This notebook gives a primer on how the database is structured, and how you can interact with it efficiently.

In [62]:
import btrdb
import yaml

from datetime import datetime, timedelta

from btrdb.utils import timez

In [2]:
# Make sure you add your API key to the config file to connect!
with open('../config.yaml', 'r') as f:
    config = yaml.safe_load(f)
    
conn = btrdb.connect(config['connection']['api_url'], config['connection']['api_key'])

## Database structure
Data are archived using a tree-based structure, where each level of the tree spans a prescribed time interval. The root node spans about 146 years (or $2^{62}$ nanoseconds). At each level of the database, the parent node is time-partitioned into 64 child nodes, each of which spans a time interval $1/64^{th}$ of the parent node. 

Each node is characterized by a parameter called the `pointwidth` which describes how many nanoseconds the node spans. The point width is specified in powers of two, and increases by a factor of 64 (or $2^6$) at each level.

### Pointwidth reference table
<table class="table table-sm table-striped table-bordered">
<thead>
<tr>
<th>level</th>
<th>node width</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>2<sup>62</sup> ns  (~146 years)</td>
</tr>
<tr>
<td>2</td>
<td>2<sup>56</sup> ns  (~2.28 years)</td>
</tr>
<tr>
<td>3</td>
<td>2<sup>50</sup> ns  (~13.03 days)</td>
</tr>
<tr>
<td>4</td>
<td>2<sup>44</sup> ns  (~4.88 hours)</td>
</tr>
<tr>
<td>5</td>
<td>2<sup>38</sup> ns  (~4.58 min)</td>
</tr>
<tr>
<td>6</td>
<td>2<sup>32</sup> ns  (~4.29 s)</td>
</tr>
<tr>
<td>7</td>
<td>2<sup>26</sup> ns  (~67.11 ms)</td>
</tr>
<tr>
<td>8</td>
<td>2<sup>20</sup> ns  (~1.05 ms)</td>
</tr>
<tr>
<td>9</td>
<td>2<sup>14</sup> ns  (~16.38 Âµs)</td>
</tr>
<tr>
<td>10</td>
<td>2<sup>8</sup> ns   (256 ns)</td>
</tr>
<tr>
<td>11</td>
<td>2<sup>2</sup> ns   (4 ns)</td>
</tr>
</tbody>
</table>

In [77]:
streams = conn.streams_in_collection('sunshine')
stream = streams[2]

print(stream.collection, stream.name, stream.unit)

sunshine/PMU6 C1ANG deg

In [78]:
earliest, _ = stream.earliest()
start = earliest.time

latest, _ = stream.latest()
end = latest.time

In [79]:
# converts from nanoseconds to days
ns_to_days = lambda dt: dt/1e9/60/60/24
ns_to_days(end-start)

91.99572135416666

## Making queries using `aligned_windows`

The `aligned_windows` function rounds the start and end times to the nearest time window native to the database. It returns statpoints that span time intervals specified by the point width.

In [94]:
pw = 50 # or 2^50 nanoseconds

t0 = datetime.now()
points = stream.aligned_windows(start=start, end=end, pointwidth=pw)

dt = points[1][0].time - points[0][0].time

print('Stream duration is %.0f days'%(ns_to_days(end-start)))
print('There are %i statpoints in measurement interval, where each statpoint spans %.2f days'%(len(points), ns_to_days(dt)))
print('Query took %.2f seconds to run'%((datetime.now()-t0)).total_seconds())

Stream duration is 92 days
There are 7 statpoints in measurement interval, where each statpoint spans 13.03 days
Query took 0.10 seconds to run

In [99]:
# note that aligned_windows queries gain efficiency by rounding start and end times to the nearest node
print('Start time')
print('   Specified:\t', str(timez.ns_to_datetime(start)))
print('   Actual:\t', str(timez.ns_to_datetime(points[0][0].time)))
print('End time')
print('   Specified:\t', str(timez.ns_to_datetime(end)))
print('   Actual:\t', str(timez.ns_to_datetime(points[-1][0].time + 2**pw)))

Start time
   Specified:	 2016-03-01 00:00:00.008333+00:00
   Actual:	 2016-02-18 09:42:59.547513+00:00
End time
   Specified:	 2016-05-31 23:53:50.333333+00:00
   Actual:	 2016-05-19 14:57:58.895411+00:00

In [102]:
pd.DataFrame({'Time Duration (days)': [ns_to_days(points[i][0].time - points[i-1][0].time) for i in range(1,len(points))],
             'Number of Points': [points[i][0].count for i in range(0,len(points)-1)]})

   Time Duration (days)  Number of Points
0             13.031249          14889534
1             13.031249         135107989
2             13.031249         135107989
3             13.031249         135107988
4             13.031249         134302309
5             13.031249         132032629

In [104]:
pw = 44 # or 2^44 nanoseconds

t0 = datetime.now()
points = stream.aligned_windows(start=start, end=end, pointwidth=pw)

# points = stream.windows(start=start, end=end+1e9, width=2**pw, depth=3)

dt = points[1][0].time - points[0][0].time

print('Stream duration is %.0f days'%(ns_to_days(end-start)))
print('There are %i statpoints in measurement interval, where each statpoint spans %.2f days'%(len(points), ns_to_days(dt)))
print('Query took %.2f seconds to run'%((datetime.now()-t0)).total_seconds())

Stream duration is 92 days
There are 452 statpoints in measurement interval, where each statpoint spans 0.20 days
Query took 0.11 seconds to run

In [105]:
# note that aligned_windows queries gain efficiency by rounding start and end times to the nearest node
print('Start time')
print('   Specified:\t', str(timez.ns_to_datetime(start)))
print('   Actual:\t', str(timez.ns_to_datetime(points[0][0].time)))
print('End time')
print('   Specified:\t', str(timez.ns_to_datetime(end)))
print('   Actual:\t', str(timez.ns_to_datetime(points[-1][0].time + 2**pw)))

Start time
   Specified:	 2016-03-01 00:00:00.008333+00:00
   Actual:	 2016-02-29 19:22:21.966000+00:00
End time
   Specified:	 2016-05-31 23:53:50.333333+00:00
   Actual:	 2016-05-31 20:10:10.058076+00:00

In [ ]:
pw = 44 # or 2^44 nanoseconds

t0 = datetime.now()
points = stream.windows(start=start, end=end+1e9, width=2**pw, depth=3)

dt = points[1][0].time - points[0][0].time

print('Stream duration is %.0f days'%(ns_to_days(end-start)))
print('There are %i statpoints in measurement interval, where each statpoint spans %.2f days'%(len(points), ns_to_days(dt)))
print('Query took %.2f seconds to run'%((datetime.now()-t0)).total_seconds())

In [81]:
pw = 44 # or 2^44 nanoseconds

t0 = datetime.now()

points = stream.aligned_windows(start=start, 
                                end=end, 
                                pointwidth=pw)

dt = points[1][0].time - points[0][0].time

print('Stream duration is %.0f days'%(ns_to_days(end-start)))
print('There are %i statpoints in measurement interval, where each statpoint spans %.2f days'%(len(points), ns_to_days(dt)))
print('Query took %.2f seconds to run'%((datetime.now()-t0)).total_seconds())

Stream duration is 92 days
There are 452 statpoints in measurement interval, where each statpoint spans 0.20 days
Query took 0.20 seconds to run

In [82]:
pw = 38 # or 2^38 nanoseconds

t0 = datetime.now()

points = stream.aligned_windows(start=start, 
                                end=end, 
                                pointwidth=pw)

dt = points[1][0].time - points[0][0].time

print('Stream duration is %.0f days'%(ns_to_days(end-start)))
print('There are %i statpoints in measurement interval, where each statpoint spans %.2f days'%(len(points), ns_to_days(dt)))
print('Query took %.2f seconds to run'%((datetime.now()-t0)).total_seconds())

Stream duration is 92 days
There are 28820 statpoints in measurement interval, where each statpoint spans 0.00 days
Query took 0.91 seconds to run

### Stat Points
Every node in a window is characterized by a `StatPoint` which reports summary statistics including the `mean`, `min`, `max`, `stddev`, and `count` of raw values within the interval. The interval is defined as `(start_time, end_time]` which is inclusive of the `start_time` and exclusive of `end_time`.

Here, we'll use statpoints to expl

`aligned_streams` returns a list of tuples, with one tuple for each statpoint in the interval between `(start, end]`

In [7]:
len(points)

7

In [8]:
statpoints, versions = zip(*points)
statpoints[0]

StatPoint(1455788579547512832, 278.09783935546875, 287.6503201884692, 291.8509216308594, 14889534, 2.2875381760179407)

In [9]:
attrs = ['time','min','mean','max','stddev','count']
for attr in attrs:
    print(attr, '\t', getattr(statpoints[0], attr))

time 	 1455788579547512832
min 	 278.09783935546875
mean 	 287.6503201884692
max 	 291.8509216308594
stddev 	 2.2875381760179407
count 	 14889534

In [29]:
import pandas as pd

def stats_to_df(statpoints, 
                datetime_col=True, 
                attrs=['count','min','mean','max','stddev','time']):
    df = pd.DataFrame(columns=attrs, index=range(len(statpoints)))
    for i, spoint in enumerate(statpoints):
        df.loc[i] = [getattr(spoint, attr) for attr in attrs]
    
    if datetime_col:
        df['datetime'] = [timez.ns_to_datetime(t) for t in df['time'].tolist()]
    return df

dataframe = stats_to_df(statpoints)
dataframe

,count,min,mean,max,stddev,time,datetime
0,14889534,278.098,287.65,291.851,2.28754,1455788579547512832,2016-02-18 09:42:59.547513+00:00
1,135107989,255.095,288.504,293.361,1.70531,1456914479454355456,2016-03-02 10:27:59.454355+00:00
2,135107989,249.115,288.71,294.417,1.80007,1458040379361198080,2016-03-15 11:12:59.361198+00:00
3,135107988,279.405,288.608,294.953,1.85815,1459166279268040704,2016-03-28 11:57:59.268041+00:00
4,134024869,278.375,288.196,293.629,1.61662,1460292179174883328,2016-04-10 12:42:59.174883+00:00
5,133097749,280.649,288.67,294.834,1.79631,1461418079081725952,2016-04-23 13:27:59.081726+00:00
6,134884189,274.378,288.385,293.21,1.57637,1462543978988568576,2016-05-06 14:12:58.988569+00:00